/*========== FONTS ==========*/

/*========== shortcuts function color and screen size==========*/
@function color($color-name){
    @return map-get($colors,$color-name)
};
@mixin desktop {
    @media(min-width: #{$desktop}){
        @content;
    }
}
@mixin desktop2 {
    @media(min-width: #{$desktop2}){
        @content;
    }
}
@mixin desktop3 {
    @media(min-width: #{$desktop3}){
        @content;
    }
}


$colors: (
    background-aod: #282c34,
    normal:#abb2bf,
    builtin:#56b6c2,
    keyword:#c678dd,
    definition:#61afef,
    comment:#5c6370,
    number:#d19a66,
    instance:#e5c07b,
    atention: hsl(355, 65%, 65%),
    atention2:hsl(  5, 48%, 51%),
    primary-dark:darken(rgb(239, 71, 111), 7%),
    secondary-dark: darken(rgb(255, 209, 102), 20%),
    tertiary-dark: darken(rgb(6,214,160), 7%),
    linkedin:#0a66c2,
    github:#c9510c,
    gmail:#ea4335,
    react:#00d8ff,

);


$desktop:768px;
$desktop2:950px;
$desktop3:1130px;

//Fuente
$navbar:1.25rem;
$biggest-font-s: 8rem;
$big-big-font: 6.5rem;
$big-big-sub:3rem;
$big-big-regular:2rem;
$big-big-icon:4rem;
$h1-font-size: 2.5rem;
$h2-font-size: 2.1rem;
$h3-font-size: 1.5rem;
$regular-font: 1.3rem;
$smallest-font: .75rem;
$font-size-hero: 2.5rem;
$sub-hero:1rem;
$icon-font: 3rem;

//spacing
$normal-spacing:.1rem;
$tittle-spacing:.2rem;

//font weigth
$font-media:500;
$font-semi:600;

//margins

$mb-1: .5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

//index
$z-tooltip:10;
$z-fixed:100;
