@import '_variables.scss';

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    @include desktop{
        flex-direction: row;
    }
}

.text{
    width: 80%;
    margin: auto;
    font-size: $regular-font;
    @include desktop{
        font-size: $big-big-regular;
        width: 90%;
    }
}